@font-face {font-family: 'OpenSans-Light'; src: url('./fonts/OpenSans-Light.ttf');}
@font-face {font-family: 'OpenSans-Regular'; src: url('./fonts/OpenSans-Regular.ttf');}
@font-face {font-family: 'OpenSans-Bold'; src: url('./fonts/OpenSans-Bold.ttf');}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

input:focus, select:focus, textarea:focus, button:focus {
    background-color: transparent;
    outline: none;
}

a {
    text-decoration: none;
  }

  ul, li {
    list-style: none;
}

section, nav, div {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.header {
    width: 100%;
    height: 240px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

    .header-top {
        width: 100%;
        height: 40px;
        padding-left: calc((70/1440)*100%);
        padding-right: calc((70/1440)*100%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-bottom: 1px solid #eceaed;
    }

        .header-top__top-nav {
            width: 52%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
        }

            .top-nav__list {
                width: 100%;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -ms-flex-line-pack: center;
                    align-content: center;
            }

                .top-nav__list-item {
                    height: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                }

                    .top-nav__link {
                        font-family: 'OpenSans-Regular'; 
                        font-size: 12px;
                        color: #302a31;
                    }

                    .top-nav__link:hover {
                        cursor: pointer;
                        color: #c1a067;
                    }
        
        .profile {
            width: calc((186/1300)*100%);
            height: 100%;
            margin-left: calc((315/1300)*100%);
            border-right: 1px solid #eceaed;
            border-left: 1px solid #eceaed;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }

            .profile-link {
                font-family: 'OpenSans-Regular'; 
                font-size: 13px;
                color: #302a31;
            }

            .profile-link:hover {
                cursor: pointer;
               color: #c1a067;
            }

        .favorites {
            width: calc((124/1300)*100%);
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
        }
            .favotites-numbers {
                width: 15px;
                height: 15px;
                margin-left: 0;
                margin-top: 3%;
                border-radius: 50%;
                font-size: 13px;
                color: #ffffff;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -ms-flex-line-pack: center;
                    align-content: center;
                background-color: #c1a067;
            }

            .favotites-numbers span {
                font-family: 'OpenSans-Regular';
                font-size: 10px;
            }                

            .favorites-link {
                margin-left: 0;
                margin-top: 8%;
                font-family: 'OpenSans-Regular'; 
                font-size: 13px;
                color: #302a31;
            }

            .favorites-link:hover {
                cursor: pointer;
                color: #c1a067;
            }

    .header-middle {
        width: 100%;
        height: 140px;
        padding-left: calc((70/1440)*100%);
        padding-right: calc((70/1440)*100%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
    }

        .lenoma-logo {
            width: calc((190/1300)*100%);
            height: 100%;
            padding-top: 10px;
        }

        .search-form {
            width: calc((802/1300)*100%);
            margin-top: 25px;
            height: 20px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
        }

        .catalog-search {
            width: 80%;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            font-family: 'OpenSans-Regular'; 
            font-size: 14px; 
            letter-spacing: 2.5px; 
            color: #000000;
            border: none;
        }

        .catalog-search-zoom {
            margin-top: 3px;
            width: 16px;
            height: 16px;
            border: none; 
            background: transparent;
            background-image: url('./img/search-icon.png');
            background-size: 16px 16px;
        }

        .catalog-search::-webkit-input-placeholder {font-family: 'OpenSans-Regular'; font-size: 10px; letter-spacing: 2.5px; color: #000000} 
        .catalog-search::-moz-placeholder          {font-family: 'OpenSans-Regular'; font-size: 10px; letter-spacing: 2.5px; color: #000000}
        .catalog-search:-moz-placeholder           {font-family: 'OpenSans-Regular'; font-size: 10px; letter-spacing: 2.5px; color: #000000}
        .catalog-search:-ms-input-placeholder      {font-family: 'OpenSans-Regular'; font-size: 10px; letter-spacing: 2.5px; color: #000000}

        .header-contacts {
            width: calc((802/1300)*100%);
            margin-bottom: 28px;
            height: 50px;
            border-top: 2px solid #c1a067;
        }

            .header-contacts__list {
                width: 100%;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: end;
                    -ms-flex-align: end;
                        align-items: flex-end;
            }

                .header-contacts__list-item span {
                    font-family: 'OpenSans-Bold'; 
                    font-size: 12px;
                    letter-spacing: 1px;   
                }

                .header-contacts__callback span {
                    margin-right: 5px;
                }

                .header-contacts__mail span {
                   margin-left: 30px;
                   letter-spacing: 1.5px;
                }

                .header-contacts__working-hours span{
                    margin-left: 30px;
                    font-size: 15px;
                    letter-spacing: 1px;
                }

                .header-contacts__phone span {
                    font-size: 14px;
                }
            
            .header-contacts__callback {
                position: relative;
                width: 170px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                        
            }


            .header-contacts__callback::before {
                display: block;
                content: "";
                position: absolute;
                margin-top: 2px;
                width: 9px;
                height: 11px;
                background-image: url("./img/top-callback-icon.png")
            }


            .header-contacts__mail {
                width: 170px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
            }

            .header-contacts__mail::before {
                display: block;
                content: "";
                position: absolute;
               
                margin-top: 2px;
                width: 14px;
                height: 11px;
                background-image: url("./img/top-mail-icon.png")
            }

            .header-contacts__working-hours {
                width: 170px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
            }

            .header-contacts__working-hours::before {
                display: block;
                content: "";
                position: absolute;
                
                margin-top: 2px;
                width: 14px;
                height: 14px;
                background-image: url("./img/top-working-icon.png")
            }

        .shopping-cart-link {
            width: calc((90/1300)*100%);
            height: 60%;
            margin-top: 2%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -ms-flex-line-pack: justify;
                align-content: space-between;
            background-color: #c1a067;
            background-image: url("./img/shopping-cart-icon.png");
            background-position: 50% 45%;
            background-repeat: no-repeat;
            background-size: 32px 42px;
        }



            .shopping-cart-numbers {
                margin-top: 9%;
                margin-left: 68%;
                color: #ffffff;
                font-size: 10px;
            }

            

    .header-bottom {
        width: 100%;
        height: 60px;
        padding-left: calc((70/1440)*100%);
        padding-right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        background-color: #302a31;
    }

        .header-bottom__categories-menu {
            width: 100%;
            height: 100%;
        }

            .categories-menu-list {
                width: 100%;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: start;
                    -ms-flex-align: start;
                        align-items: flex-start;
            }

            .categories-menu-list-item {
                margin-top: 23px;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }

            .categories-menu-link {
                font-size: 16px;
                letter-spacing: 1px;
                color: #ffffff;
            }

            .categories-menu-link:hover {
                cursor: pointer;
                color: #c1a067;
            }

            .categories-submenu {
                position: absolute;
                /*visibility: hidden;*/
                display: none !important;
                width: 255px;
                height: 180px;
                margin-top: 35px;
                margin-left: -35px;
                padding-top: 25px;
                padding-left: 29px;
                padding-bottom: 25px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                border-top: 4px solid #c1a067;
                z-index: 150;
                background-color: #ffffff;
            }

            .categories-menu-list > li:hover .categories-submenu {
                
                display: -webkit-box !important;
                
                display: -ms-flexbox !important;
                
                display: flex !important;
            }

                .categories-submenu__link {
                    font-family: 'OpenSans-Regular';
                    font-size: 16px;
                    color: #000000;
                }

        .categories-menu-list-sale {
            margin-top: 0;
            width: calc((160/1370)*100%);
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            background-color: #c16774;
        }        

        .sale-link {
            margin-right: 6%;
            display: inline-block;
            font-family: 'OpenSans-Regular';
            font-size: 16px;   
        }

.main {
    width: 100%;
    height: 4055px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: calc((70/1440)*100%);
    padding-right: calc((70/1440)*100%);
}

    .main__slider {
        width: 100%;
        height: 550px;
        position: relative;
    }

        .slider-wrap {
            width: 100%;
            height: 100%;
            padding-top: 65px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            position: relative;
        }

            .slider__title {
                /*width: 550px;
                height: 100px;*/
                width: calc((550/1300)*100%);
                height: 100px;
                margin-top: 150px;
                margin-right: calc((-330/1300)*100%);
                font-family: 'OpenSans-Bold';
                font-size: 40px;
                letter-spacing: 6px;
                line-height: 62px;
                z-index: 100;
            }

            .slider__more-detailed {
                width: calc((220/1300)*100%);
                height: 35px;
                margin-top: 84px;
                font-family: 'OpenSans-Bold';
                font-size: 12px;
                letter-spacing: 1.5px;
                color: #c1a067;
                border-bottom: 2px solid #c1a067;
            }

            .slider__preview {
                /*width: 1080px;
                height: 485px;*/
                width: calc((1080/1300)*100%);
                height: 485px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                background-image: url('./img/slider-background.png');
                background-size: cover;
            }

                .slider__preview-link {
                    padding-left: calc((130/1080)*100%);
                }

                .slider__preview-price {
                    margin-left: calc((50/1080)*100%);
                    margin-top: 200px;
                    font-family: 'OpenSans-Regular';
                    font-size: 13px;
                }

            .slider__advice-wrap {
                position: absolute;
                width: 330px;
                height: 285px;
                margin-top: -20px;
                margin-left: calc((990/1300)*100%);
                padding-left: 47px;
                padding-top: 45px;
                background-color: #f9f9f9;
            }

                .advice__title {
                    width: 333px;
                    height: 51px;
                    -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                    font-family: 'OpenSans-Bold';
                    font-size: 16px;
                    letter-spacing: 1px;
                    line-height: 16px;
                    border-bottom: 2px solid #c1a067;
                }

                .advice__list {
                    width: calc((200/285)*100%);
                    height: 90px;
                    margin-top: 45px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                }

                    .advice-link {
                        font-family: 'OpenSans-Regular';
                        font-size: 15px;
                        cursor: pointer;
                        color: #000000;
                    }

                    .advice-link:hover {
                        color: #c16774;
                    }                     

            .slider__pagination {
                position: absolute;
                width: 92px;
                height: 10px;
                margin-left: calc((271/1300)*100%);
                margin-top: -50px;
                margin-bottom: 300px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                
            }

                .slider__btn {
                    width: 10px;
                    height: 10px;
                    -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                    border: 2px solid #c1a067;
                    background:transparent;
                }

                .slider__btn:hover {
                    background-color: #c1a067;
                }

                .slider__btn:active {
                    background-color: #c1a067;
                }

    .main__advantage {
        width: 100%;
        height: 30px;
        margin-top: calc((67/1300)*100%);
        /*padding-right: calc((56/1300)*100%);*/
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

        .advantage__line {
            margin-top: 5px;
            width: calc((80/1240)*100%);
            height: 90%;
            border-top: 1px solid #eceaed;
        }

        .advantage__item-link {
            display: inline-block;
            width: calc((200/1300)*100%);
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            padding-right: 30px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            font-family: 'OpenSans-Regular'; 
            font-size: 11px;
            letter-spacing: 2px;
            color: #000000;
        }

    .main__hits {
        width: 100%;
        height: 530px;
        margin-top: calc((75/1300)*100%);
        position: relative;
    }

        .arrow-left-btn {
            position: absolute;
            background: transparent;
            margin-top: 308px;
            margin-left: -30px;
            border: none;
        }

        .arrow-right-btn {
            position: absolute;
            background: transparent;
            margin-top: 305px;
            margin-left: calc((1295/1300)*100%);
            /*margin-left: 1295px;*/
            border: none;
        }

        .arrow-left-btn__special {
            position: absolute;
            background: transparent;
            margin-top: 353px;
            margin-left: -30px;
            border: none;
        }

        .arrow-right-btn__special {
            position: absolute;
            background: transparent;
            margin-top: 350px;
            margin-left: calc((1295/1300)*100%);
            /*margin-left: 1295px;*/
            border: none;
        }

        .arrow-left-svg {
            fill: #ebeaea;
        }

        .arrow-left-svg:hover {
            fill: #c1a067;
        }

        .arrow-right-svg {
            fill: #ebeaea;
        }

        .arrow-right-svg:hover {
            fill: #c1a067;
        }
    

        .main-card {
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }

        .main-card__title-wrap {
            display: block;
            width:  calc((420/1300)*100%);
            height: 46px;
            text-align: center;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            border-bottom: 2px solid #c1a067;
        }

        .main-card__title {
            font-family: 'OpenSans-Bold';
            font-size: 25px;
            letter-spacing: 4px;
            line-height: 20px;
        }

        .main-card__products-item-wrap {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            width: 100%;
            height: 414px;
        }

            .main-card__products-item {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: calc((330/1300)*100%);
                height: 100%;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                position: relative;
            }

            .products-link {
                color: #000000;
            }

            .products-link:hover {
                cursor: pointer;
            }

            .main-card__products-item-wrap .main-card__products-item:first-child {
                width: calc((320/1300)*100%);
            }

            .main-card__products-item-wrap .main-card__products-item:first-child .products-item__description {
                padding-right: 10px;
            }

            .main-card__products-item-wrap .main-card__products-item:last-child {
                width: calc((320/1300)*100%);
            }

            .main-card__products-item-wrap .main-card__products-item:last-child .products-item__description {
                padding-left: 10px;
            }

                .products-item__img {
                    width: 100%;
                    height: 240px;
                }

                .products-item__description {
                    margin-top: 40px;
                    width: 100%;
                    /*height: 95px;*/
                    height: auto;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                }

                    .products-item__title {
                        font-family: 'OpenSans-Regular';
                        font-size: 16px;
                        letter-spacing: 0.5px;
                        line-height: 16px;
                        width: 205px;
                        text-align: center;
                    }

                    .products-item__brend {
                        margin-top: 23px;
                        font-family: 'OpenSans-Regular';
                        font-size: 15px;
                    }

                    .products-item__type {
                        margin-top: 0.5%;
                        font-family: 'OpenSans-Regular';
                        font-size: 13px;
                        letter-spacing: 0px;
                    }

                    .products-item__men-women {
                        margin-top: 1%;
                        font-family: 'OpenSans-Regular';
                        font-size: 13px;
                    }

                .products-item__items-price {
                    margin-top: 20px;
                    width: auto;
                    height: 15px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                }

                    .items-price__discount, .items-price__price {
                        display: inline-block;
                        font-family: 'OpenSans-Regular';
                        font-size: 13px;
                    }

                    .items-price__discount {
                        display: none;
                        text-decoration: line-through;
                    }                    

                .products-item__sale {
                    visibility: hidden;
                    position: absolute;
                    -ms-flex-item-align: start;
                        align-self: flex-start;
                    width: 47px;
                    height: 22px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    font-size: 12px;
                    color: #ffffff;
                }   
                
       .products-item__sale-active {
            visibility: visible;
       }    
       
       .items-price__discount-active {
           display: block;
           
       }

    .main__new-products {
        width: 100%;
        height: 530px;
        margin-top: calc((95/1300)*100%);
        position: relative;
    }

    .main__special-offer {
        width: 100%;
        height: 590px;
        margin-top: calc((102/1300)*100%);
        position: relative;
    }

        .special-offer-card__products-item-wrap {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            width: 100%;
            height: 430px;
        }

        .main-card__title-two-line-wrap {
            display: block;
            width:  calc((420/1300)*100%);
            height: 90px;
            text-align: center;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            border-bottom: 2px solid #c1a067;
        }

        .main-card__title-two-line {
            font-family: 'OpenSans-Bold';
            font-size: 25px;
            letter-spacing: 5px;
            line-height: 18px;
            width: 100%;
        }

            .main-card__title-two-line span {
                display: block;
            }

    .main__top-brends {
        width: 100%;
        height: 435px;
        margin-top: calc((85/1300)*100%);
    }

        .top-brends-card {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }

            .subtitle {
                height: 8px;
                font-family: 'OpenSans-Bold';
                font-size: 11px;
                letter-spacing: 2px;
                margin-bottom: 24px;
                color: #c1a067;
            }

            .all-brends-list-wrap {
                width: 100%;
                height: 295px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
            }

                .top-brends__list {
                    width: 100%;
                    height: 40px;
                    -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                    padding-right: 10px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                }

                .all-brends-wrap {
                    width: calc((1020/1300)*100%);/*1020px;*/
                    height: 200px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    margin-left: 110px;
                }

                    .all-brends__list {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                                flex-direction: column;
                        -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                                justify-content: space-between;
                    }

                        .list-item__link {
                            font-family: 'OpenSans-Regular';
                            font-size: 16px;
                            color: #000000;
                        }

    .main__articles-news {
        width: 100%;
        height: 770px;
        margin-top: calc((135/1300)*100%);
    }

        .articles-news-card {
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }

        .articles-news-wrap {
            width: 100%;
            height: 690px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }

            .articles-block {
                width: 586px;
                height: 100%;
                padding-bottom: 80px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
            }

                .articles-card {
                    width: 100%;
                    height: 190px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-pack: start;
                        -ms-flex-pack: start;
                            justify-content: flex-start;
                    padding-top: 35px;
                    border-bottom:1px solid #eceaed;
                }

                    .articles-card__title {
                        width: calc((510/586)*100%);
                        font-family: 'OpenSans-Regular';
                        font-size: 16px;
                        letter-spacing: 0.5px;
                        line-height: 18px;
                    }

                        .articles-card__title {
                            color: #000000;
                        }

                    .articles-card__data {
                        margin-top: 13px;
                        font-family: 'OpenSans-Regular';
                        font-size: 12px;
                        color: #c1a067;
                    }

                    .articles-card__teaser {
                        margin-top: 15px;
                        width: calc((530/586)*100%);
                        font-family: 'OpenSans-Regular';
                        font-size: 12px;
                        line-height: 21px;
                        letter-spacing: 0.5px;
                        color: #000000;
                    }

                .all-articles-link {
                    font-family: 'OpenSans-Bold';
                    font-size: 12px;
                    letter-spacing: 1.5px;
                    margin-top: 25px;
                    margin-left: 30px;
                    margin-bottom: 0;
                    color: #c1a067;
                }

            .news-block {
                width: 650px;
                height: 119%;
                margin-top: -130px;
                padding-top: 120px;
                padding-right: 24px;
                padding-left: 24px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                
            }

            .news-block:hover {
                background-color: #f9f9f9;
            }

            .news-block:hover {
                background: #f9f9f9;
            }

            .news-card {
                width: 100%;
                height: 185px;
                margin-top: 20px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
            }

            .news-card__img {
                width: 252px;
                height: 185px;
            }

            .news-card__text {
                width: 400px;
                margin-left: -50px;
                padding-top: 25px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
            }

                .news-card__title {
                    width: calc((510/586)*100%);
                    font-family: 'OpenSans-Regular';
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    line-height: 18px;
                }

                    .news-card__title-link {
                        color: #000000;
                    }

                    .news-card__data {
                        margin-top: 20px;
                        font-family: 'OpenSans-Regular';
                        font-size: 12px;
                        color: #c1a067;
                    }

                    .news-card__teaser {
                        margin-top: 15px;
                        width: 100%;
                        font-family: 'OpenSans-Regular';
                        font-size: 12px;
                        line-height: 21px;
                        letter-spacing: 0.5px;
                        color: #000000;
                    }

                .news-card__text_left {
                    width: 400px;
                    padding-top: 25px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-pack: start;
                        -ms-flex-pack: start;
                            justify-content: flex-start;
                }

                    .news-card__title_left {
                        width: 100%;
                        font-family: 'OpenSans-Regular';
                        font-size: 16px;
                        letter-spacing: 0.5px;
                        line-height: 18px;
                    }

            .all-news-link {
                font-family: 'OpenSans-Bold';
                font-size: 12px;
                letter-spacing: 1.5px;
                margin-top: 35px;
                margin-left: 15px;
                margin-bottom: auto;
                color: #c1a067;
            }
           
            

.footer {
    width: 100%;
    height: 480px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: calc((70/1440)*100%);
    padding-right: calc((70/1440)*100%);
    background-color: #302a31;
}

    .footer-content {
        width: 100%;
        height: 360px;
        padding-top: 65px;
        padding-bottom: 64px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-bottom: 1px solid #3f3a41;
    }

        .footer-content__block {
            width: calc((310/1300)*100%);
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
        }

        .footer-content__title {
            font-family: 'OpenSans-Bold';
            font-size: 18px;
            letter-spacing: 1px;
            color: #ffffff;
        }

        .footer-content__link {
            font-family: 'OpenSans-Regular';
            font-size: 12px;
            letter-spacing: 1px;
            color: #ffffff;
        }

        .footer-content__link:hover {
            cursor: pointer;
            color: #c1a067;
        }

        .footer-content__list {
            margin-top: 30px;
            width: 100%;
            height: 170px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -ms-flex-line-pack: start;
                align-content: flex-start;
        }


        .footer-content__list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -ms-flex-line-pack: start;
                align-content: flex-start;
        }

        .footer-content__contacts {
            height: 215px;
        }

        .contacts__list {
            height: 165px;
        }

        .contacts__social-list {
            width: 100%;
            height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -ms-flex-line-pack: start;
                align-content: flex-start;
        }

            .social-list__messenger {
                width: 210px;
                height: 20px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                -ms-flex-line-pack: center;
                    align-content: center;
            }

                .whatsapp-link {
                    margin-left: 15px;
                    margin-top: -5px;
                }

                .viber-link {
                    margin-left: 14px;
                    margin-top: -3px;
                }

            .social-list__messenger span {
                font-family: 'OpenSans-Regular';
                font-size: 12px;
                letter-spacing: 1px;
                color: #ffffff;
            }
        
            .working-hours {
                font-family: 'OpenSans-Regular';
                font-size: 12px;
                letter-spacing: 1px;
                color: #ffffff;
            }

            .connect-link {
                font-family: 'OpenSans-Bold'; 
                font-size: 10px;
                letter-spacing: 2.5px;
                color: #ffffff;
            }

            .connect-link__callback {
                margin-left: 15px;
            }

            .connect-link__mail {
                margin-left: 12px;
            }

            .connect-link__skype {
                margin-left: 17px;
            }

        .contacts__connect-list {
            width: 100%;
            height: 80px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -ms-flex-line-pack: start;
                align-content: flex-start;
        }

            .contacts__connect-list-item {
                font-family: 'OpenSans-Bold'; 
                font-size: 12px;
                letter-spacing: 1px;
                color: #ffffff;
            }

            .connect-link__callback {
                margin-left: 30px;
            }

            .connect-link__mail {
                margin-left: 30px;
            }

            .connect-link__skype {
                margin-left: 30px;
            }

            .connect-list-item__callback::before {
                display: block;
                content: "";
                position: absolute;
                margin-top: 2px;
                width: 9px;
                height: 11px;
                background-image: url("./img/footer-callback-icon.png")
            }

            .connect-list-item__mail::before {
                display: block;
                content: "";
                position: absolute;
                margin-top: 2px;
                width: 14px;
                height: 11px;
                background-image: url("./img/footer-mail-icon.png")
            }

            .connect-list-item__skype::before {
                display: block;
                content: "";
                position: absolute;
                margin-top: 2px;
                width: 8px;
                height: 10px;
                background-image: url("./img/footer-skype-icon.png")
            }


            .subscription__email {
                margin-top: 5px;
                width: 100%;
                height: 58px;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                background-color: transparent;
                border:none;
                border-bottom: 2px solid #c1a067;
            }

            .subscription__email::-webkit-input-placeholder {font-family: 'OpenSans-Regular'; font-size: 11px; letter-spacing: 2px; color: #ffffff} 
            .subscription__email::-moz-placeholder          {font-family: 'OpenSans-Regular'; font-size: 11px; letter-spacing: 2px; color: #ffffff} 
            .subscription__email:-moz-placeholder           {font-family: 'OpenSans-Regular'; font-size: 11px; letter-spacing: 2px; color: #ffffff} 
            .subscription__email:-ms-input-placeholder      {font-family: 'OpenSans-Regular'; font-size: 11px; letter-spacing: 2px; color: #ffffff} 
    
            .subscription__btn {
                margin-top: 20px;
                margin-left: calc((207/310)*100%);
                font-family: 'OpenSans-Bold'; 
                font-size: 14px;
                letter-spacing: 1px;
                color: #c1a067;
                border: none;
                background: transparent;
            }

            .subscription__join {
                margin-top: 55px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
            }

                .subscription__join-wrap {
                    width: 48px;
                    height: 48px;
                    border-radius: 50px;
                    background: #ffffff;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                }

                    .subscription__join-link-icon {
                        margin-top: 4px;
                    }
                    
                    .subscription__join-link {
                        margin-left: 22px;
                    }

                .subscription__join-link {
                    font-family: 'OpenSans-Bold'; 
                    font-size: 12px;
                    letter-spacing: 1px;
                    color: #ffffff;
                }

    .footer-bottom {
        width: 100%;
        height: 122px;
        padding-top: 42px;
        padding-right: calc((38/1300)*100%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-line-pack: start;
            align-content: flex-start;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

        .footer-bottom__copyright {
            font-family: 'OpenSans-Regular'; 
            font-size: 12px;
            letter-spacing: 0.5px;
            color: #ffffff;
        }

        .footer-bottom__design {
            width: 280px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
        }

        .footer-bottom__design::before {
            display: block;
            content: "";
            position: absolute;
            margin-top: 2px;
            margin-left: 5px;
            width: 15px;
            height: 20px;
            background-image: url("./img/eureka-icon.png")
        } 

            .footer-bottom__design-link {
                font-family: 'OpenSans-Regular'; 
                font-size: 13px;
                color: #ffffff;
            }

            .footer-bottom__design-link {
                margin-left: 20px;
            }

            .footer-bottom__design-link:hover {
                cursor: pointer;
                color: #c1a067;
            }